* {
    /*CSS content default box sizing only look at contents with size of the margin and padding*/
    /*this command only look at the size of the boxes's border*/
    box-sizing: border-box; 
}

body {
    background-color: azure;
    /* border: 2px solid black; */
}

h1 {
    font-size: 5rem;
    margin: 5% 5% 0%;
    border: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    display: inline-block;
    border-bottom: solid 3px darkblue;
}

p {
    margin: 5%;
    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    padding-bottom: 3%;
}

div {
    display: flex;
    padding-bottom: 3%;
    box-sizing: border-box;
    /* border-block: solid 2px rgb(121, 97, 209); */
    align-items: center;
    margin: 20%, 5%, 5%, 5%;
    
}

section#workExperience {
    display: inline-block;
    width: 40%;
    margin: 20% 5% 0% 5% ;
    margin-bottom: auto;
}

h3#workExperiences {
    font-family: monospace;
    list-style-type: circle;
    font-size:18px;
    display: inline-block;
    width:80%;
    /* float: left; */
    position: relative;
}

ul {
    font-family: monospace;
    list-style-type: circle;
    /* margin-left: 5%; */
    /* margin-top: 20%; */
    font-size:18px;
    float: left;
    /* padding-top: 5%; */
    position: relative;
    /* display: inline-block */
    /* width: 50%; */
    margin-left: 5%;

}

ul>li {
    font-size: 15px;
    margin:1%;

}

#corner {
    height:30%;
    width:45%;
    border-radius:15px;
    float:right;
    /* display: inline-block; */
    margin-right:5%;

}

section#pizzaList {
    display: inline-block;
    height:80%;
    width:40%;
    margin: 0% 0% 0% 5% ;
}

h3#pizzaToppings {
    font-family: monospace;
    font-size:18px;
    width: 80%;
    display: inline-block;
    /* position: relative; */
    /* border: solid 2px black; */
    margin-bottom: 3%;
    text-align: left;
    margin-left: 5%;
}

ol {
    font-family: monospace;
    list-style-type: decimal;
    list-style-position: inside;
    /* float: right; */
    position: relative;
    display: inline-block;
    font-size: 15px;
}

img#pizza {
    height:30%;
    width:45%;
    /* margin-top: 2rem; */
    border-radius:15px;
    /* float: left; */
    display: inline-block;
    position:relative;
    margin:0 0% 0 5%;  
}

footer {
    /* margin-left:auto;
    margin-right:auto; */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(204, 252, 252);
    padding: 10px;
    display: block;
    /* position:relative; */
    margin-top: 10%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}