* {
    box-sizing: border-box;
}

body {
    background-color: azure;
    margin-top:5%;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 5rem;
    margin-top: 5rem;
    margin: 3rem;
    border: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    display: inline-block;
}

p {
    margin: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    text-indent: 20px;
    padding-bottom: 3%;
}

span {
    display: block;
    padding-bottom: 50px;
    padding-top: 50px;
    box-sizing: border-box;
    border-block: solid 2px rgb(121, 97, 209);
}

ul {
    font-family: monospace;
    list-style-type: circle;
    margin-left: 5%;
    font-size:18px;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 30%;
    position: relative;

}

ul>li {
    font-size: 15px;
    margin:1%;

}

#corner {
    height:30%;
    width:50%;
    border-radius:15px;
    display: inline-block;

}

ol {
    font-family: monospace;
    list-style-type: decimal;
    margin-right: 5%;
    font-size:18px;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 7%;
    position: relative;
    /* border: solid 2px black; */
}

ol>li {
    font-size: 15px;
    margin:1%;
}

#pizza {
    height:30%;
    width:50%;
    margin-top: 2rem;
    border-radius:15px;
    display: inline-block;
}

footer {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(204, 252, 252);
    padding: 10px;
    display: block;
}